@font-face {
    font-family: "Oranienbaum";
    src: url("../fonts/Oranienbaum-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    font-family: 'Oranienbaum', serif;
}

header .navbar {
    border-bottom: 1px solid #04306d;
    background-color: rgba(255,255,255,1);
}

header .navbar .nav-link {
    font-size: 18px;
}

header .phone {
    font-size: 18px;
    text-decoration: none;
}

.mg-btm-15 {
    margin-bottom: 15px;
}

.eng-color-blue {
    color: #04306d;
}

.eng-height-two {
    height: 2px;
}

#main-container-fluid {
    background-image: url("../images/back.png");
    background-size: cover;
}

#main-container-fluid .substrate {
    height: 75px;
}

#main-container-fluid .logo {
    padding: 10px 0px;
    color: rgb(255,255,255);
}

#main-container-fluid .logo p {
    padding-top: 10px;
    font-size: 25px;
    margin-bottom: 5px;
}

#main-container-fluid .logo span {
    display: inline-block;
    font-size: 20px;
}

#main-container-fluid .logo img {
    width: 100%;
}

#main-container-fluid .header-text {
    color: rgb(255,255,255);
    padding-top: 30px;
}

#main-container-fluid .header-text h2 {
    font-size: 50px;
}

#main-container-fluid .header-text h3 {
    font-size: 34px;
}

#main-container-fluid .header-text h5 {
    margin-top: 20px;
    font-size: 30px;
}

#main-container-fluid .header-text p {
    font-size: 25px;
}

@media (max-width: 768px) {
    #main-container-fluid .logo img {
        width: 60%;
    }

    #main-container-fluid .header-text {
        padding-top: 10px;
    }

    #main-container-fluid .header-text h2 {
        font-size: 30px;
    }

    #main-container-fluid .header-text h4 {
        margin-top: 20px;
        font-size: 15px;
    }

    #main-container-fluid .xs-devices {
        color: white;
    }

    #main-container-fluid .xs-devices hr {
        margin-top: 70%;
        height: 2px;
        color: white;
    }

    #main-container-fluid .header-text h5 {
        margin-top: 5px;
        font-size: 25px;
    }

    #main-container-fluid .header-text p {
        font-size: 20px;
    }
}

.color-brand {
    color: #04306d !important;
}

.color-subbrand {
    color: #b1c0d5 !important;
}

#main-container {
    padding-bottom: 20px;
}

#lessons {
    margin-top: 25px;
    color: #04306d;
}

#lessons #lessons-header ul {
    padding: 0px 25px 0px 80px;
}

#lessons #lessons-header ul li {
    font-size: 18px;
    text-align: justify;
}

@media (max-width: 768px) {
    #lessons #lessons-header ul {
        padding: 0px 25px 0px 30px;
        margin-bottom: 0px;
    }

    #lessons #lessons-header ul li {
        font-size: 16px;
        margin-bottom: 5px;
    }
}

.lessons-container .block {
    width: 400px;
}

.lessons-container .price {
    font-weight: bold;
    font-size: 20px;
    padding: 20px 0px;
    background-color: #efefef;
    display: inline-block;
}

.lessons-container > div {
    cursor: pointer;
}

.lessons-container > div:hover img {
    background-color: #efefef;
}

.lessons-container > div:hover p {
    background-color: #efefef;
}

.lessons-container > div img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.lessons-container > div p {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

@media (max-width: 768px) {
    .lessons-container .block {
        width: 100%;
    }

    .lessons-container .price {
        font-size: 15px;
        padding: 15px 0px;
    }
}

#lesson-modal .modal-footer {
    background-color: #04306d;
}

#lesson-modal .modal-footer .btn {
    background-color: #efefef;
    color: #04306d;
}

#lesson-modal .modal-footer .sign-up-btn {
    background-color: white;
}

#about-wrapper {
    background-image: url("../images/back.png");
    background-size: cover;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 20px;
}

#about-wrapper .text-underline {
    display: inline-block;
    border-bottom: 1px solid #4d6b97;
    padding: 5px 10px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    #about-wrapper {
        font-size: 16px;
    }
}

.section-header {
    font-size: 3em;
    margin-bottom: 25px;
    color: #04306d;
}

#reviews {
    margin-top: 25px;
}

#reviews .owl-carousel {
    margin-top: 30px;
}

#reviews .review-block img {
    display: inline-block;
    border-radius: 50px;
    width: 100%;
}

#reviews .review-block .reviews-header-title {
    font-size: 18px;
}

#reviews .review-block .reviews-text {
    font-size: 15px;
}

#reviews .owl-dot.active span {
    background-color: #04306d;
}

@media (max-width: 768px) {
    #reviews .review-block img {
        width: 40%;
        margin-bottom: 10px;
    }
}

footer {
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url("../images/back.png");
    background-size: cover;
    color: white;
    font-size: 26px;
}

footer h2 {
    margin-bottom: 10px;
}

footer .soc i {
    color: white;
}

footer .soc:hover i {
    color: #6c757d;
}

footer .map {
    min-height: 400px;
}

footer .footer-phone {
    color: white;
    text-decoration: none;
}

footer .footer-phone:hover {
    color: #6c757d;
}

@media (max-width: 768px) {
    footer {
        font-size: 24px;
    }

    footer .map {
        min-height: 300px;
    }
}
